body {
  min-width: 600px;
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  min-height: 300px;
  margin: 0;
}

#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  z-index: 100;
}
#loader[data-error=false] {
  background-image: url('ring.svg');
}
#body {
  overflow: auto;
  margin: 10px;
}
#table_filter {
  display: flex;
  float: none;
}
#table_filter label {
  display: flex;
  align-items: center;
  flex: 1;
}
#table_filter input[type=button] {
  margin-left: -1px;
}
#table_filter input[type=search] {
  flex: 1;
  outline: none;
  height: 100%;
  border-radius: 0;
  border: solid 1px #d8d8d8;
  padding: 5px;
}
input[type=button] {
  color: #333 !important;
  border: 1px solid #979797;
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
  background-color: white;
  height: 28px;
  cursor: pointer;
  outline: none;
}
#table input[type=button]:active {
  opacity: 0.5;
}
table {
  width: 100%;
  table-layout: fixed;
}
td {
  text-align: center;
  padding: 2px 5px !important;
}
td:first-child {
  height: 32px;
  background-position: center;
  background-size: 32px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.05);
}
th:last-child,
td:last-child {
  text-align: right;
  padding-right: 0 !important;
}
